{% extends 'templates/base.njk' %}

{% set relative_dir = '../' %}

{% block header %}
  <button id="connect-bluetooth">Connect</button>
{% endblock %}

{% block body %}
  <div id="container" class="container">
    <canvas id="canvas" resize></canvas>
  </div>
{% endblock %}

{% block script %}
  <script src="{{ relative_dir }}indexTwojs.js"></script>
{% endblock %}
