{% extends 'templates/base.njk' %}

{% block header %}
  <button id="connect-bluetooth">Connect</button>
{% endblock %}

{% block body %}
  <div id="container" class="container">
    <canvas id="canvas" resize></canvas>
  </div>
{% endblock %}